/* global */

body {
  background-color: whitesmoke;
  font-family: 'Istok Web', sans-serif;

}

p{
  font-size: 24px;
}


/* navbar */

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link{
  color: #222f3e;
  font-size: 24px;
}
.navbar-light .navbar-nav .nav-link:hover{
  -moz-box-shadow:    3px 3px 5px 6px #222f3e;
  -webkit-box-shadow: 3px 3px 5px 6px #222f3e;
  box-shadow:         3px 3px 5px 6px #222f3e;
}

.navbar-light .navbar-nav .nav-link::before{
  content:" | ";
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
      display: none;
    }
  }

  @media (min-width: 992px){
    .navbar-scrolled {
      -webkit-box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
      box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
      background-color: #fff!important;
      opacity: .8;
  }
}

  @media (min-width: 992px){
    #mainNav {
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: transparent;
    }
  }



/* header */
@media (min-width: 992px){
  header.landing-page {
    height: 100vh;
    min-height: 40rem;
    padding-top: 72px;
    padding-bottom: 0;
  }
}

header.landing-page{
  background: linear-gradient(to bottom,rgba(98, 127, 136, 0.377) 0,rgba(95, 129, 131, 0.822) 100%),url(../images/landing-page-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

section#break{
  height: auto;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background: linear-gradient(#fff, #000, #fff);
}

img#bmo-1{
  width: 40%;
  height: auto;
}
/* selection section */
section.page-section{
  padding: 100px;
  height: 550px;
  background: url("/adventure_time_site/images/interlude-background.jpg");
}


/* button styles */
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary{
  color: #fff;
  background-color: #ee3e0d;
  border-color: #e23a0d;
}

.btn-primary:hover {
  color: #fff;
  background-color: red;
  border-color: #ee3e0d;
}

.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: .85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
  
}

/* map of Ooo */
img#ooo{
  height: 100%;
  width: 100%;
  margin-top: 6em;
  margin-bottom: 5em;
  
  border: 1px solid #222f3e;
  -moz-box-shadow:    3px 3px 5px 6px #222f3e;
  -webkit-box-shadow: 3px 3px 5px 6px #222f3e;
  box-shadow:         3px 3px 5px 6px #222f3e;
}