/* global */

body {
  background-color: whitesmoke;
  font-family: 'Istok Web', sans-serif;

}

p{
  font-size: 24px;
}
p.character-bios{
  font-size: 16px;
  
  
}
h1, button{
  font-family: 'Finger Paint', cursive;
}


/* navbar */

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link{
  color: #222f3e;
  font-size: 24px;
}
.navbar-light .navbar-nav .nav-link:hover{
  -moz-box-shadow:    3px 3px 5px 6px #222f3e;
  -webkit-box-shadow: 3px 3px 5px 6px #222f3e;
  box-shadow:         3px 3px 5px 6px #222f3e;
}

.navbar-light .navbar-nav .nav-link::before{
  content:" | ";
}
.navbar-light .navbar-nav .nav-link::after{
  content:" | ";
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
      display: none;
    }
  }

  @media (min-width: 992px){
    .navbar-scrolled {
      -webkit-box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
      box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
      background-color: #fff!important;
      opacity: .8;
  }
}

  @media (min-width: 992px){
    #mainNav {
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: transparent;
    }
  }



/* header */
@media (min-width: 992px){
  header.landing-page {
    height: 100vh;
    min-height: 40rem;
    padding-top: 72px;
    padding-bottom: 0;
  }
}

header.landing-page{
  background: linear-gradient(to bottom,rgba(98, 127, 136, 0.377) 0,rgba(95, 129, 131, 0.822) 100%),url(../images/landing-page-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

section#break{
  height: auto;
  box-shadow: 4px 4px 5px 9px #222f3e;
  margin-bottom: 1em;
  background:rgba(90, 102, 102, 0.096)!important;
  
}

img#bmo-1{
  width: 40%;
  height: auto;
}

/* BMO interlude section */
p.py-4{
  font-size: 40px;
  color: white;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 1px 1px 3px black;
} 

.blockquote-footer{
  font-size: 24px;
  font-family: 'Orbitron', sans-serif;
}

/* selection section */
section.page-section{
  padding: 100px;
  height: 550px;
  background: url("/images/interlude-background.jpg");
  
}


/* button styles */
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary{
  color: #fff;
  background-color: #ee3e0d;
  border-color: #e23a0d;
}

.btn-primary:hover {
  color: #fff;
  background-color: red;
  border-color: #ee3e0d;
}

.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: .85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
  
}

/* images */
img#ooo{
  height: 100%;
  width: 100%;
  margin-top: 6em;
  margin-bottom: 5em;
  
  border: 1px solid #222f3e;
  -moz-box-shadow:    3px 3px 5px 6px #222f3e;
  -webkit-box-shadow: 3px 3px 5px 6px #222f3e;
  box-shadow:         3px 3px 5px 6px #222f3e;
}

.jumbotron.history{
  background: url("/images/history-background.jpg");
  margin-top: 6.4em;
  margin-bottom: 1em;
  height: 600px; 
  background-repeat: no-repeat;
  color: white;
  -moz-box-shadow:    3px 3px 5px 6px #222f3e;
  -webkit-box-shadow: 3px 3px 5px 6px #222f3e;
  box-shadow:         3px 3px 5px 6px #222f3e;
}

.jumbotron.characters{
  background: url("/images/characters-background.jpg");
  margin-top: 6.4em;
  margin-bottom: 1em;
  height: 900px; 
  background-repeat: no-repeat;
  color: white;
  -moz-box-shadow:    3px 3px 5px 6px #222f3e;
  -webkit-box-shadow: 3px 3px 5px 6px #222f3e;
  box-shadow:         3px 3px 5px 6px #222f3e;
}

.display-4.character-background{
  margin-top: 6em;
  font-size: 70px;
}

.display-4.history{
  margin-top: 3em;
  font-size: 70px;
}

/* history of OOO styling */
.list-group-flush .list-group-item::before{
  content: "\273A  ";
}

.btn-link{
  color: black;
  width: 100%;
}

.btn-link:hover{
  color:black;
  text-decoration: none;
  -moz-box-shadow:    3px 3px 5px 6px #222f3e;
  -webkit-box-shadow: 3px 3px 5px 6px #222f3e;
  box-shadow:         3px 3px 5px 6px #222f3e;
}

/* characters of OOO styling */

.media{
  margin: 3em;
  padding-top: 5em;
}

hr.bios{
  border-top: 3px solid rgba(0,0,0,.1);
}

img.character{
  height: auto;
  width: 150px;
}